<div class="signup-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-9-md signup">
                <h2>Join our mailing list!</h2>
                <p>Get notified about upcoming events, talks, and other news.</p>
                <noscript id="submitns">
                    <p>This requires JavaScript. Please drop us an email and we'll add you to the list!</p>
                </noscript>
                <form id="submitform" method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLSftkWFQePMgWylrSgHyzTjWL4o6J7m8UyII1szvXtTQqxIAIw/formResponse">
                    <input type="email" placeholder="email@example.com" name="entry.279766957" id="entry.279766957">
                    <input type="hidden" name="entry.1177501285" id="entry.1177501285" value="Subscribe">
                    <button type="submit">Subscribe now!</button>
                </form>
            </div>
        </div>
    </div>
</div>
